@using Sitecore.ContentSearch.SearchTypes;
@using Sitecore.Data.Items;
@using Sitecore.Web.UI.WebControls;
@using Sitecore.Feature.Persons.Models;

@model PersonSearchListing

@{
   
                Layout = null;
}

<h2>Contact Listing</h2>


@foreach (Person p in Model.ListingResults)
    {
        <div class="row">
            <div>@(Html.Raw(p.FirstName) + " " + Html.Raw(p.LastName))</div>
            <div>@Html.Raw(p.Address)</div>
            <div>@(Html.Raw(p.City) + ", " + Html.Raw(p.State) + " " + Html.Raw(p.Zip))</div>
            <div>@Html.Raw(p.Email)</div>
            <div>@Html.Raw(p.Phone)</div>
            <br />
        </div>
        }

@for(int i=1; i <= Model.NumberOfPages; i++)
{
        <a href="/Home?email=@Model.Email&phone=@Model.Phone&page=@i">@(i + " ")</a>
}

