@using Sitecore.ContentSearch.SearchTypes;
@using Sitecore.Data.Items;
@using Sitecore.Web.UI.WebControls;
@using Sitecore.Feature.Persons.Models;

@model PersonSearchListing

@{

    Layout = null;
}

<style type="text/css">

    .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: black;
    }

</style>

<h2>@Sitecore.Globalization.Translate.TextByDomain(DictionaryDomain, "Contact Listing Title")</h2>


<div class="table-wrapper">

    @if (Model.TotalResults > 0)
    {
        <p style="font-style: italic;">@String.Format(Sitecore.Globalization.Translate.TextByDomain(DictionaryDomain, "Result Counter"), Model.StartRecord.ToString(), Model.EndRecord.ToString(), Model.TotalResults.ToString())</p>
    
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Sitecore.Globalization.Translate.TextByDomain(DictionaryDomain, "Name")</th>
                    <th scope="col">@Sitecore.Globalization.Translate.TextByDomain(DictionaryDomain, "Address")</th>
                    <th scope="col">@Sitecore.Globalization.Translate.TextByDomain(DictionaryDomain, "Email")</th>
                    <th scope="col">@Sitecore.Globalization.Translate.TextByDomain(DictionaryDomain, "Phone")</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Person p in Model.ListingResults)
                {
                    <tr>
                        <th scope="row">@(Html.Raw(p.FirstName) + " " + Html.Raw(p.LastName))</th>
                        <td>@Html.Raw(p.Address)<br />@(Html.Raw(p.City) + ", " + Html.Raw(p.State) + " " + Html.Raw(p.Zip))</td>
                        <td>@Html.Raw(p.Email)</td>
                        <td>@Html.Raw(p.Phone)</td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <p>@Sitecore.Globalization.Translate.TextByDomain(DictionaryDomain, "No Results")</p>
    }
</div>


<ul class="pagination" style="margin-top: 10px;">
        @for (int i = 1; i <= Model.NumberOfPages; i++)
        {
            string active = "";
            if (i == Model.PageNumber)
            {
                active = "active";
            }
            <li class="page-item @active"><a class="page-link" href="/Home?email=@Model.Email&phone=@Model.Phone&page=@i">@i</a></li>
        }
</ul>


